# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [80]:
import pandas as pd
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score as r2
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import precision_score as prec
from sklearn.metrics import recall_score as rec
from sklearn.metrics import f1_score as f1
from sklearn.metrics import confusion_matrix

## Regression Model Evaluation

In [4]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

C:\Users\Edward46\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [5]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
data.shape

(506, 14)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [7]:
from sklearn.model_selection import train_test_split as tts  # el alias es cosa mia

X = data.drop('MEDV', axis=1)

y = data.MEDV

X_train, X_test, y_train, y_test  = tts(X, y, train_size=0.8, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((404, 13), (102, 13), (404,), (102,))

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [10]:
linreg=LinReg()
linreg.fit(X_train, y_train)

LinearRegression()

In [31]:
y_pred_train = linreg.predict(X_train)

In [27]:
y_pred_test = linreg.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [28]:
r2(y_test, y_pred_test)

0.6687594935356294

In [32]:
r2(y_train, y_pred_train)

0.7508856358979673

## 4. Calculate and print mean squared error for both the training and the testing set.

In [35]:
mse(y_test, y_pred_test)

24.29111947497371

In [36]:
mse(y_train, y_pred_train)

21.641412753226312

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [38]:
mae(y_test, y_pred_test)

3.1890919658878745

In [39]:
mae(y_train, y_pred_train)

3.3147716267832346

## Classification Model Evaluation

In [40]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [41]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [43]:
X = data.drop('class', axis=1)

y = data['class']

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [49]:
X_train, X_test, y_train, y_test  = tts(X, y, train_size=0.8, test_size=0.2, random_state=42)

In [50]:
logreg=LogisticRegression(max_iter=2000)

logreg.fit(X_train, y_train)

LogisticRegression(max_iter=2000)

In [54]:
y_pred_test = logreg.predict(X_test)

In [53]:
y_pred_train = logreg.predict(X_train)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [56]:
acc(y_test, y_pred_test)

1.0

In [57]:
acc(y_train, y_pred_train)

0.975

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [64]:
train_score = balanced_accuracy_score(y_train, y_pred_train)
test_score = balanced_accuracy_score(y_test, y_pred_test)

In [65]:
train_score, test_score

(0.975609756097561, 1.0)

## 10. Calculate and print the precision score for both the training and the testing set.

In [69]:
prec(y_test, y_pred_test, average = None)

array([1., 1., 1.])

In [70]:
prec(y_train, y_pred_train, average = None)

array([1.        , 1.        , 0.92857143])

## 11. Calculate and print the recall score for both the training and the testing set.

In [74]:
rec(y_test, y_pred_test, average = None)

array([1., 1., 1.])

In [75]:
rec(y_train, y_pred_train, average = None)

array([1.        , 0.92682927, 1.        ])

## 12. Calculate and print the F1 score for both the training and the testing set.

In [78]:
f1(y_test, y_pred_test, average = None)

array([1., 1., 1.])

In [79]:
f1(y_train, y_pred_train, average = None)

array([1.        , 0.96202532, 0.96296296])

## 13. Generate confusion matrices for both the training and the testing set.

In [81]:
# calculate and print confusion matrix
cm_test = confusion_matrix(y_test, y_pred_test)
print("Confusion matrix:\n", cm_test)

Confusion matrix:
 [[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]

In [83]:
# calculate and print confusion matrix
cm_train = confusion_matrix(y_train, y_pred_train)
print("Confusion matrix:\n", cm_train)

Confusion matrix:
 [[40  0  0]
 [ 0 38  3]
 [ 0  0 39]]

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.